In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('Fuel_Consumption.csv')
df.head()

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
0,2000,ACURA,1.6EL,COMPACT,1.6,4,A4,X,9.2,6.7,8.1,35,186
1,2000,ACURA,1.6EL,COMPACT,1.6,4,M5,X,8.5,6.5,7.6,37,175
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,12.2,7.4,10.0,28,230
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,13.4,9.2,11.5,25,264
4,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,A4,X,10.0,7.0,8.6,33,198

In [5]:
df.drop(['COMB (mpg)'], axis = 1, inplace=  True)

In [6]:
df.describe()

,YEAR,ENGINE SIZE,CYLINDERS,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),EMISSIONS
count,22556.000000,22556.000000,22556.000000,22556.000000,22556.000000,22556.000000,22556.000000
mean,2011.554442,3.356646,5.854141,12.763513,8.919126,11.034341,250.068452
std,6.298269,1.335425,1.819597,3.500999,2.274764,2.910920,59.355276
min,2000.000000,0.800000,2.000000,3.500000,3.200000,3.600000,83.000000
25%,2006.000000,2.300000,4.000000,10.400000,7.300000,9.100000,209.000000
50%,2012.000000,3.000000,6.000000,12.300000,8.400000,10.600000,243.000000
75%,2017.000000,4.200000,8.000000,14.725000,10.200000,12.700000,288.000000
max,2022.000000,8.400000,16.000000,30.600000,20.900000,26.100000,608.000000

In [19]:
numerical = df[['ENGINE SIZE','CYLINDERS','FUEL CONSUMPTION','HWY (L/100 km)', 'EMISSIONS']]
numerical.head()

   ENGINE SIZE  CYLINDERS  FUEL CONSUMPTION  HWY (L/100 km)  EMISSIONS
0          1.6          4               9.2             6.7        186
1          1.6          4               8.5             6.5        175
2          3.2          6              12.2             7.4        230
3          3.5          6              13.4             9.2        264
4          1.8          4              10.0             7.0        198

In [20]:
x = numerical.drop('EMISSIONS', axis = 1)
y = numerical['EMISSIONS']

In [21]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x, y , test_size=0.2, random_state=42)

### Multiple Linear Regression Model

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
model = LinearRegression()
model.fit(xtrain, ytrain)

print(model.coef_)

[3.59992159 6.16652621 6.121605   9.47382444]

In [24]:
prediction = model.predict(xtest)

In [25]:
print("Mean Squared error(MSE): %.2f" % np.mean((prediction - ytest) ** 2))
print('Variance score: %.2f' % model.score(xtrain, ytrain))

Mean Squared error(MSE): 438.51
Variance score: 0.87

### Multiple Polynomial Regression Model

In [26]:
from sklearn.preprocessing import PolynomialFeatures

In [30]:
poly = PolynomialFeatures(degree= 2)
train_x_poly = poly.fit_transform(xtrain)
test_x_poly = poly.transform(xtest)

In [31]:
model_poly = LinearRegression()
model_poly.fit(train_x_poly, ytrain)

LinearRegression()

In [32]:
prediction = model_poly.predict(test_x_poly)

In [33]:
print("Mean Squared error(MSE): %.2f" % np.mean((prediction - ytest) ** 2))
print('Variance score: %.2f' % model_poly.score(train_x_poly, ytrain))

Mean Squared error(MSE): 257.66
Variance score: 0.92

In [34]:
poly = PolynomialFeatures(degree= 3)
train_x_poly = poly.fit_transform(xtrain)
test_x_poly = poly.transform(xtest)

model_poly = LinearRegression()
model_poly.fit(train_x_poly, ytrain)
prediction = model_poly.predict(test_x_poly)

print("Mean Squared error(MSE): %.2f" % np.mean((prediction - ytest) ** 2))
print('Variance score: %.2f' % model_poly.score(train_x_poly, ytrain))

Mean Squared error(MSE): 222.28
Variance score: 0.93

In [41]:
poly = PolynomialFeatures(degree= 6)
train_x_poly = poly.fit_transform(xtrain)
test_x_poly = poly.transform(xtest)

model_poly = LinearRegression()
model_poly.fit(train_x_poly, ytrain)
prediction = model_poly.predict(test_x_poly)

print("Mean Squared error(MSE): %.2f" % np.mean((prediction - ytest) ** 2))
print('Variance score: %.2f' % model_poly.score(train_x_poly, ytrain))

Mean Squared error(MSE): 151.72
Variance score: 0.96

In [42]:
poly = PolynomialFeatures(degree= 7)
train_x_poly = poly.fit_transform(xtrain)
test_x_poly = poly.transform(xtest)

model_poly = LinearRegression()
model_poly.fit(train_x_poly, ytrain)
prediction = model_poly.predict(test_x_poly)

print("Mean Squared error(MSE): %.2f" % np.mean((prediction - ytest) ** 2))
print('Variance score: %.2f' % model_poly.score(train_x_poly, ytrain))

Mean Squared error(MSE): 154.06
Variance score: 0.97

Optimal is with degree 6